/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

/* NAV BAR */
nav .nav-link{
  font-size: 1.5rem;
  color: #5B2434;
}

nav .nav-link:hover, nav .nav-link:focus, nav .nav-link.current {
  color:inherit;
  color:#D1920D;
  font-weight: bold!;
  background-color:  #5B2434;
}

/* HOME */
.home {
  padding-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.home-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.home-item {
  height: 35rem;
}

.home-title h1 {
  text-align: center;
  font-size: 3.5em;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  max-width: 80%;
  margin-top: -40px;
}

.color1 {
  color: #5B2434;
}

.color2 {
  color: #D1920D;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.ticket-title h1{
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  max-width: 80%;
}

.card-icon{
  font-size: 5rem;
  color: #5B2434;
}
.card-price{
  color: #5B2434;
  font-size: 2rem;
  font-weight: bold;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
/* rtl:begin:remove */
.featurette-heading {
  letter-spacing: -.05rem;
}
footer {
  font-size: .8rem;
}

footer .color1, footer .volor2{
  font-weight: bold;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
